<header class="main_header">
    <div class="menu_logo_container">
        <div class="logo_container">
            <a routerLink="/">
                <img height="25" alt="dsw_logo" src="assets/images/logo_small.png">
            </a>
        </div>
        <div class="flexbox_header_extender"></div>
        <div class="menu_container">
            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="static_menu_desktop">
                <ul class="static_menu_list">
                    <a routerLink="/">
                        <li class="pl">O mnie</li>
                    </a>
                    <a routerLink="/offer">
                        <li class="pl">Co oferuję</li>
                    </a>
                    <a routerLink="/projects">
                        <li class="pl">Projekty</li>
                    </a>
                    <a routerLink="/contact">
                        <li class="pl">Kontakt</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="language_ico_container">
            <!-- <img src="images/pol.png" alt="polish" width="25"> -->
            <!-- <img class="transparency" src="images/ang.png" alt="english" width="25"> -->
        </div>
    </div>
</header>
<div class="dropdown_menu_mobile">
    <ul class="dropdown_menu_list">
        <a routerLink="/">
            <li class="pl">O mnie</li>
        </a>
        <a routerLink="/offer">
            <li class="pl">Co oferuję</li>
        </a>
        <a routerLink="/projects">
            <li class="pl">Projekty</li>
        </a>
        <a routerLink="/contact">
            <li class="pl">Kontakt</li>
        </a>
    </ul>
</div>
