<section class="main_section">
    <div class="title_section_desktop">
        <div class="title_section_desktop_container">
            <div id="pic_extender" class="extender"></div>
            <img src="assets/images/logo_normal.png" height="100">
            <div class="extender"></div>
        </div>
    </div>
    <div class="main_page_section">
        <div class="main_page_desktop_side_photo">

        </div>
        <div class="main_page_container">
            <div class="mobile_photo_container">
                <div class="logo_normal_container"></div>
            </div>
            <h2 class="pl">O mnie</h2>
            <h2 class="eng">About me</h2>
            <!-- Polish content -->
            <p class="pl">Zajmuję się projektowaniem, tworzeniem oraz modyfikowaniem stron i sklepów internetowych począwszy od projektu graficznego przez pełną funkcjinalność zgodnie ze specyfikacją i życzeniami zleceniodawcy, aż po efekt końcowy mierzony zadowoleniem klienta i opublikowaniem projektu w internecie.</p>
            <p class="pl">Dzięki systemom CMS <span>(System Zarządzania Treścią)</span> moi klienci mogą pozwolić sobie na dużą swobodę w edytowaniu treści swojej wymarzonej witryny. Każdy przedsiębiorca wie, jak ważna w dzisiejszym biznesie, wymagającym ciągłego dostosowywania się do zmieniających warunków  jest elastyczność. Systemy, z których korzystam cechuje wyjątkowa prostota obsługi, nie wymagająca konieczności posługiwania się językiem programowania przez klienta.</p>
            <p class="pl">Programowaniem webowym (rozwiązań internetowych) pasjonuję się od dawna. Swoją wiedzę i doświadczenie czerpałem z licznych źródeł, które czyniły mnie coraz sprawniejszym w tej dziedzinie. Jestem absolwentem najpopularniejszej w Polsce, prestiżowej organizacji <span>CodersLab</span>, dzięki której ukończyłem zaawansowany kurs typu "bootcamp" pod tytułem <span>"Zostań Programistą Front-End"</span> co potwierdziło mój talent i kwalifikacje.</p>
            <p class="pl"><span>Zapraszam do zapoznania się z moją ofertą, projektami, które miałem przyjemność realizować, a także kontaktu przez formularz kontaktowy lub email. Z przyjemnością pomogę Państu zrealizować swoje marzenie o profesjonalnej witrynie.</span></p>
        </div>
    </div>
</section>
