<section class="projects_main_section">
  <div class="projects_container">

    <!-- Single project goes here !!! -->
    <div class="single_project">
      <div class="single_project_picture project_1">

      </div>
      <div class="single_project_description">
        <div class="description_container">
          <p class="pl">Responsywny szablon strony internetowej</p>
          <p class="eng">Responsive website template</p>
        </div>
        <div class="tech_icons">
          <img src="assets/images/HTML5.png" height="40">
          <img src="assets/images/CSS3.png" height="40">
          <img src="assets/images/js.png" height="40">
          <img src="assets/images/RWD.png" height="40">
        </div>
      </div>
      <div class="single_project_link">
        <a href="https://dsw92.github.io/Sit-On-Chair---Website-layout/">
          <p class="pl">Kliknij, by zobaczyć</p>
          <p class="eng">Click to see</p>
        </a>
      </div>
    </div>
    <!-- Single project ends here !!! -->

    <!-- Useful for fulfill the gap in 3 elements row !!! -->
    <div class="flex_wrap_extender">

    </div>
    <!-- Extender ends here !!! -->

  </div>
</section>
