<section class="contact_main_section">
    <div class="extender"></div>
    <div class="contact_section_container">

        <div class="contact_form_container_extended">
            <div class="contact_form_picture">
                <h2 class="pl">Formularz kontaktowy</h2>
                <h2 class="eng">Contact Form</h2>
            </div>
            <div class="contact_form_dropdown">
                <div class="arrow-down"></div>
            </div>
            <div class="contact_form_container">
                <form class="contact_form">
                    <div class="input">
                        <label class="pl">Imię</label>
                        <input id="name" type="text" name="name">
                    </div>
                    <div class="input">
                        <label>E-mail</label>
                        <input id="email" type="text" name="email">
                    </div>
                    <div class="input">
                        <label class="pl">Temat</label>
                        <input id="subject" type="text" name="subject">
                    </div>
                    <div class="message">
                        <label class="pl">Twoja wiadomość</label>
                        <textarea id="message" name="message"></textarea>
                    </div>
                    <div class="input">
                        <input id="submit_pl" class="button pl" type="submit" value="Wyślij">
                        <input id="reset_pl" class="button pl" type="reset" value="Resetuj">
                    </div>
                </form>
            </div>
        </div>
        <div class="map_adress_container">
            <div class="adress_container">
                <h3><span>Email:</span></h3> 
                <h3>dominik.s.wojtowicz@gmail.com</h3>
                <h4 class="pl">Poznań, Polska</h4>
            </div>
            <div class="map_container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155797.26090033053!2d16.761582581884106!3d52.400655253205784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470444d2ece10ab7%3A0xa4ea31980334bfd1!2zUG96bmHFhA!5e0!3m2!1spl!2spl!4v1505308730630" ></iframe>
            </div>
        </div>
    </div>
    <div class="extender"></div>
</section>
